.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 80px;
  /* height: 100px; */
}

.nav-items > ul {
  display: flex;
  font-size: 18px;
}

.nav-items > ul > li {
  padding: 0px 20px;
  padding: 10px;
  list-style-type: none;
}

.search {
  padding: 10px;
}

.res-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.res-card {
  width: 220px;
  background-color: #fff;
  justify-content: center;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.res-card * {
  pointer-events: none;
}

.res-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
}

.res-logo {
  width: 150px;
  height: auto;
  object-fit: contain;
  display: block;
  justify-self: center;
}
